* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    animation: animateBg 10s linear infinite;
}

@keyframes animateBg {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(180deg);

    }
    100% {
        filter: hue-rotate(360deg);
    }
    
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1e1d1d; }



.loader {
    position: relative;
    width: 200px;
    height: 200px;
    filter: url(#gooey);
    animation: animate 16s  linear infinite;

}


.loader:hover {
    background: #ffffff;
    box-shadow:  0 0 5px #ffffff,
    0 0 25px #ffffff,
    0 0 50px #ffffff,
    0 0 200px #ffffff; 
}


.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    transform: rotate(calc(45deg*var(--i)));
}

.loader span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: calc(50%- 20px);
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #c7eeff,#780d89);
    border-radius: 50%;
    box-shadow: 0 0 30px #89046c;
}

.rotate {
    animation: animate 4s  ease-in-out infinite;
    animation-delay: calc(-0.2s*var(--j));
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

svg {
    width: 0;
    height: 0;
}